name: "Build Stellarium Windows"

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]

jobs:
  ci-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Qt5
        uses: jurplel/install-qt-action@v4
        with:
          version: '5.15.*'
          host: windows
          target: desktop
          arch: win64_msvc2019_64
          modules: qtcharts qtdeclarative qtquickcontrols2 qtwebengine qtserialport
          outputdir: D:\a\Stellarium\Qt


      - name: Configure CMake
        shell: pwsh
        run: |
          mkdir build
          cd build
          cmake -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="${{ env.QT_DIR }}" -DENABLE_TESTING=ON "${{ github.workspace }}"

      - name: Build
        run: cmake --build build --config Release -- /m:4

      - name: Package .exe
        run: |
          cd build/Release
          mkdir dist
          xcopy /Y *.exe dist\
          xcopy /Y *.dll dist\
          powershell -Command "Compress-Archive -Path dist\\* -DestinationPath stellarium-windows.zip"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: stellarium-windows
          path: build/Release/stellarium-windows.zip
